<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">GIT GOOGLE</a>
      <form (ngSubmit)="senduser()">
        <div class="search"> <input class="form-control me-2" type="text"placeholder="Enter GitHub Username"name="username"
          [(ngModel)]="Username" type="search" aria-label="Search">
          <button
           class="btn btn-outline-success" type="submit"  (click)="resetCurrentPage()" >Search</button></div>
       
        <div class="navbar"  >
        </div>
      </form>
    </div>
  </nav>
  <div class="container">
    
    <div *ngIf="searchResults" class="container">
      
    <div class="profile-card" >
      <img src="{{searchResults?.avatar_url}}" alt="Profile Image" width="300" height="300"  class="profile-img">
      <div class="side">
        <h1 class="profile-username">{{searchResults?.name}}</h1>
      <p class="profile-bio">{{searchResults?.bio}}</p>
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
      <i class="fas fa-map-marker-alt" ></i> {{searchResults?.location}}
      <br><i class="fas fa-envelope"></i>Twitter :{{searchResults?.twitter_username}}
      </div>       
      </div>
      <div class="detail-item" >
        <i class="fasfa-envelope" href="#"></i> {{searchResults?.url}}
      </div>
      <a href="{{searchResults?.html_url}}">
      <div class="col-md-6" >
        
        <div class="card"   *ngFor="let item of searchResult " style="width: 45%;">
          
        
          <div class="card-body">
            <h5 class="card-title">{{ item.name}}</h5>
            <p class="card-text">{{ item.description}}.</p>
            

            <a href="#" class="btn btn-primary">{{ item.language}}</a>            
          </div>
        
        </div>
        
        </div></a>
      <div class="perpage">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPage() }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPage()">Next</button>
      </div>
    </div>
    
  </div>
  <!-- <div class="repo">{{searchResult?.name}}</div> -->
  
<style>
  .profile-img{
    width: 180;
    height: 150;
    border-radius: 50%;
    padding: 20px;
  }
  .search{
    display: flex;
  }
  .btn btn-primary{
   padding: 20px;
   margin-left: 20px;
   margin-right: 20px;
  }
  .profile-card{
    display: flex;
  }
  /* .col-md-6{
    display: flex;
  } */
  .perpage{
    align-items: center;
    display: flex;
  justify-content: center;
  
  }
  .profile-bio{
    align-items: right;
  }
  .card {
  /* Basic card styles */
  border: 1px solid #ddd; /* Border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  background-color: #fff; /* Background color */
   /* Padding */
margin-bottom: 4vw; /* Margin between cards */
  padding: 20bh;
  
}
.side{
  padding-top: 45px;
}

.card:hover {
  /* Hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.profile-details{
  display: flex;
}

.col-md-6{
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  justify-content: space-around;
  
  
}

.card-body{
  height: 200;
  width: 280;
  padding: 20;
  background-color:#faf0e6;
}

</Style>





